*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatainer{
    background-color: blue;
    color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    box-sizing: border-box;
}
.container2{
    background-color: rgb(16, 113, 192);
    box-sizing: border-box;
    height: 40vh;
    width: 40vw;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 229.44px 450px;
    border: 10px solid white;
    border-radius: 40px;
}
.h1{
    color: rgb(113, 17, 177);
    font-size: 37px;
}
.inp {
    margin: 10px 0px;
    height: 30px;
    width: 216px;
    display: inline-block;
    text-align-last: right;
    background-color: white;
    border: 3px solid rgb(5, 58, 231);
    border-radius: 20px;
    padding-left: -20px ;
    box-sizing: border-box;
}
.op{
    margin: 10px 0px;
    height: 26px;
    width: 76px;
    display: inline;
    /* background-color: white;
    border: 2px solid rgb(5, 58, 231);
    border-radius: 20px;
    padding-left: -20px ; */
}
.submit{
    margin: 22px 0px;
    height: 30px;
    width: 216px;
    background-color: rgb(14, 90, 231);
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;

}
.submit:hover{
    font-weight: bolder;
    background-color: rgb(170, 99, 7);
}
